pytesseract
tesseract
Pillow
openai
python-dotenv
python-dotenv
google-cloud-vision
google-auth
spacy
openai==0.28
flask
flask-cors
gunicorn==20.1.0
pandas
xlsxwriter==3.1.0
autocorrect
scikit-learn
matplotlib
seaborn