body, html{
  margin: 0;
  padding: 0;
}

.App {
  text-align: center;
  font-family: 'Arial', sans-serif;
  margin: auto;
  padding-top: 160px;
  box-sizing: border-box;
  color: #333;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.App-header {
  margin: auto;
}

.DragDropArea {
  border: 3px dashed #592429;
  padding: 40px;
  width: 500px;
  height: 200px;
  margin: 10px auto;
  border-radius: 10px;
  color: #592429;
  font-weight: bold;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.DragDropArea:hover {
  background-color: rgba(89, 42, 48, 0.42);
}

.DragDropArea p {
  margin: 10px 0 0;
}

.material-symbols-outlined {
  font-size: 70px;
  margin-bottom: 20px;
}

@media (max-width: 600px) {
  .DragDropArea {
    width: 80%;
  }
}
.loader {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}

.loader div {
  position: absolute;
  border: 4px solid #3498db;
  opacity: 1;
  border-radius: 50%;
  animation: loader 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}

@keyframes loader {
  0% {
    top: 36px;
    left: 36px;
    width: 0;
    height: 0;
    opacity: 1;
  }
  100% {
    top: 0px;
    left: 0px;
    width: 72px;
    height: 72px;
    opacity: 0;
  }
}

.loader div:nth-child(2) {
  animation-delay: -0.5s;
}