.banner{
    background-color: lightblue;
    text-align: center;
    padding: 10px 0;
    width: 100%;
    position: fixed;
    top:0;
    left:0;
    z-index: 1000;
    justify-content: center;
    align-items: center;
}

.banner-logo{
    height: 50px;
    margin-right: 20px;
}

.banner-text{
    font-size: 35px;
    color: black;
    margin-left: 0;
    font-family: Merriweather, sans-serif;
}